<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="chaser"
>
  <!-- include macros -->
  <xacro:include filename="$(find getit_robot_gazebo)/urdf/chaser/common.xacro" />
  <xacro:include filename="$(find getit_robot_gazebo)/urdf/chaser/properties.urdf.xacro" />
  <xacro:include filename="$(find getit_robot_gazebo)/urdf/chaser/base/base.urdf.xacro" />
  <xacro:include filename="$(find getit_robot_gazebo)/urdf/chaser/arm/arm.urdf.xacro" />
  <xacro:include filename="$(find getit_robot_gazebo)/urdf/chaser/base_sub/base_sub.urdf.xacro" />

  <!-- compostion of the robot -->
  <xacro:base name="base"/>
  <xacro:arm name="arm" parent="base_link"/>
  <xacro:base_sub name="base_sub" parent="base_link"/>

  <!-- define color -->
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>

  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>

  <material name="yellow">
    <color rgba="1.0 1.0 0.0 1.0"/>
  </material>

  <material name="gray">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>

</robot>
